* {
    font: Helvetica;
    padding: 5px;
    font-size: 20px;
    margin: auto;
}

body {
    background-color: #f5f293;
}

div#content {
    background-color: white;
    width: max-content;
    margin-bottom: 5px;
    border: 1px solid black;
}

h1 {
    font-size: 30px;
    text-align: center;
    background-color: white;
    width: max-content;
    border: 1px solid black;
    border-radius: 5px;
}

section {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
    text-align: center;
    width: 700px;
    border: 2px solid black;
    background-color: #6b5935;
    border-radius: 10px;
    height: 410px;
}

button {
    width: 100px;
    text-align: center;
    border: 1px solid black;
    background-color: #c0c0c0;
    border-radius: 5px;
}

.charBt {
    font-size: 20px;
}

.hiddenChar {
    display: none;
}

.hide {
    display: none;
}

#trycount {
    margin-bottom: 25px;
    background-color: white;
    width: max-content;
    border: 1px solid black;
    border-radius: 5px;
}

#gameStatus {
    border: 1px solid black;
    background-color: white;
    width: max-content;
    border-radius: 5px;
}

div {
    margin-bottom: 5px;
}

#title {
    margin-bottom: 50px;
}

footer {
    text-align: center;
}

#start {
    margin-top: 80px;
    width: 200px;
    height: 100px;
    font-size: 40px;
}